/* EXTRAS */

.more-info {
  padding: 10px 0px;
  max-width: 70%;
  background-color: #45454584;
  margin: 0 auto;
  color: white;
}

.extra-item {
  margin: 0px 15px;
  font-size: 14px;
}

#fahrenheitMessage {
  margin-top: 10px;
  font-size: 12px;
  color: black;
}
