.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #454545;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.057);
  position: fixed;
  top: 0px;
  width: 100%;
  margin-top: 0px;
}

.search-input {
  padding: 5px 10px;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  box-shadow: inset black;
}

.search-input::placeholder {
  text-align: center;
  font-size: smaller;
  color: rgba(255, 255, 255, 0.5);
}
